<h1 class="sidebar-title">Goal Predictor</h1>
<nav class="sidebar-nav">
    <a href="#dashboard" data-view="dashboard" class="nav-item active">
        <img src="./img/icons/dashboard.webp" class="nav-icon" alt="Dashboard">
        <span>Processed Data</span>
    </a>
    <a href="#predictions" data-view="predictions" class="nav-item">
        <img src="./img/icons/predictions.webp" class="nav-icon" alt="Predictions">
        <span>Predictions</span>
    </a>
    <a href="#settings" data-view="settings" class="nav-item">
        <img src="./img/icons/settings.webp" class="nav-icon" alt="Settings">
        <span>Settings</span>
    </a>
</nav>